<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tonied.futmanddm">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="FutMan DDM"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme">
        <activity
            android:name=".actSobre"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".actSelTime"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actConfigTime"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actManager"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actHome"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actClassificacao"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actConsultaTime"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actTelaJogo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actDelayJogo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".actFinal"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>