app/FutManDDM/.idea/misc.xml
app/FutManDDM/app/src/main/java/com/example/tonied/futmanddm/actManager.java
app/FutManDDM/app/src/main/java/com/example/tonied/futmanddm/modelo/entidade/Regras.java
app/FutManDDM/app/src/main/java/com/example/tonied/futmanddm/modelo/entidade/Regras.java
app/FutManDDM/app/src/main/java/com/example/tonied/futmanddm/actManager.java